<div class="container-fluid" style="display: flex;flex-direction: column; justify-content: center; padding: 10%;">
    <div class="container presentacion">
        <div class="foto-personal">
            <img src="https://imgs.search.brave.com/m4Ex4Un8VHvMmvaT3AUUgRj96qsLr0MUQB1gdOpA6Ak/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9wZXJzb25hLXBy/b2ZpbGUtcmVwcmVz/ZW50aW5nLXRhcmdl/dC11c2VyLWluY2x1/ZGluZy1kZW1vZ3Jh/cGhpY3MtZ29hbHMt/cGFpbi1wb2ludHNf/MTMxNDQ2Ny05MDIx/OC5qcGc_c2l6ZT02/MjYmZXh0PWpwZw">
        </div>
        <div class="container" style="display: flex;flex-direction: column; align-items: center;padding-top: 45px;">
            <h2 class="encabezado"> Hola, mi nombre es</h2>
            <h1 class="titulo-presentacion"> Valentin G.Gradia</h1>
            <h3 class="subtitulo-presentacion"> Estudiante de programacion</h3>
        </div>
    </div>
    <div class="container acerca-de-mi">
        <div class="container titulo-descripcion">
            <h1> Acerca de mi</h1>
        </div>
        <div class="container descripcion">
            <p>
                Mi nombre es Valentín González Gradia, tengo 19 años y actualmente estoy cursando la Tecnicatura Universitaria en Programación en la UTN. Desde chico he tenido un gran interés por la programación. Recuerdo que mis primeros pasos los di en la primaria, cuando desarrollé una calculadora en Access sin saber absolutamende nada
                y con mil errores por corregir, algo que me encanto.
                Durante la secundaria, estuve en varios talleres de programación, donde pude aprender sobre lógica de programación y bases de datos. Estas experiencias reforzaron mi interés y, finalmente decidí enfocar mis estudios y mi carrera en esta profesión.
                Con respecto al futuro me gustaria trabajar en el area de back-end o en el desarrollo de aplicaciones para escritorio (si hay algo claro es que con el front muy bien no me llevo ja). Nunca pense en que stack tecnologico especializarme pero eso lo vere mas a futuro, supongo que algunos de los 
                lenguajes que aprendi que este enfocado a las cosas que yo quiero desarrollar.
                Tengo como meta recibirme de esta carrera y despues una carrera de grado, no ando pensando en trabajar ya que estoy enfocado mas que nada a mis estudios y no tengo ganas de comprometerme con las responsabilidades de un trabajo como programador siendo tan joven.
            </p>
        </div>
    </div>
</div>
