<div class="body">
    <div class="games-container">
        <div class="game-card">
            <h2>Ahorcado</h2>
            <p>Un clasico juego de adivinanza de palabras</p>
            <img src="assets/ahorcado.png" alt="Ahorcado">
            <button class="play-button">JUGAR</button>
        </div>
        <div class="game-card">
            <h2>Higher or Lower</h2>
            <p>Un divertido juego de adivinanza de numeros</p>
            <img src="assets/mayoromenor.png">
            <button routerLink="/mayorOMenor"  class="play-button">JUGAR</button>
        </div>
        <div class="game-card">
            <h2>Preguntados</h2>
            <p>Responde preguntas de diferentes categorias</p>
            <button class="play-button">JUGAR</button>
        </div>
        <div class="game-card">
            <h2>Mi juego</h2>
            <p>Juego propio</p>
            <button class="play-button">JUGAR</button>
        </div>
    </div>
</div>
