<div class="ahorcado-container">
    <div class="intentos">
        <h2 style="font-size: 30px;color: rgb(165, 58, 58);">Intentos : {{intentos}}</h2>
    </div>
    <div class="imagen-ahorcado">
        <img src="assets/ahorcado/ahorcado.png" alt="Ahorcado">
    </div>
    <div class="palabra" style="display: flex;justify-content: center;">
        @for (letras of palabraAdivinar; track $index) {
            <p style="font-size: 33px;letter-spacing: 13px;">
                <span [ngClass]="{'adivinada': letraEstaAdivinada(letras)}" [ngClass]="{'normal':letraSinAdivinar(letras)}">
                    {{letras.toUpperCase()}}
                </span>
            </p>
        }
    </div>
    <div class="letras-container">
        @for (letra of letras; track $index) {
            <button (click)="elegirLetra(letras[$index])" class="letra">{{letras[$index].toUpperCase()}}</button>
        }
    </div>
</div>
