header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5146ae; /* Color verde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.logo h1 {
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    color: #5e605e;
    background-color: white;
}

.nav-links .salir:hover{
    color: white;
    background-color: red;
}



/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}